<div class="container-comment">
    <div class="author-container"><span class="author">{{User.username}}</span> - <span class="comment-date
    vred">{{formatDate
            createdAt}}:</span></div>
    <div class="content-comment vred">{{content}}</div>
</div>
