<article>
    <form id="frmUpdateMsg" action="" method="">
        <section class="card">

            <div class="title-message-container ">
                <div class="title">
                    {{title}}
                </div>
                <div class="btn-update-message">
                    <input type="button" class="css-button-rounded--grey" value="DELETE MESSAGE" id='btnDelete'
                           onclick="deleteMessage(this)">
                    <input type="button" class="css-button-rounded--grey" value="UPDATE MESSAGE" id='btnDelete'
                           onclick="updateMessage(this)">
                </div>
            </div>
            <div class="content-message">
                {{content}}
            </div>
            {{#each Comments as |comment|}}
                {{>comments-details}}
            {{/each}}
            <div class="link-message"></div>
        </section>
        <input type="hidden" id="message_id" name="message_id" value="{{id}}">
    </form>
</article>
<script src="../../public/scripts/blanksNewComment.js"></script>