<article>
    <form action="/message/updateMessage" method="POST">
    <section class="card">
        <div class="title-message-container ">
            <div class="title">
                {{title}}
            </div>
            <div class="btn-update-message">
                <button>UPDATE MESSAGE</button>
            </div>
        </div>
        <div class="content-message">
            {{content}}
        </div>
        {{#each Comments as |comment|}}
            {{>comments-details}}
        {{/each}}
        <div class="link-message"></div>
    </section>
        <input type="hidden" name="message_id" value="{{id}}">
    </form>
</article>