<article>
    <section class="card">
        {{title}}. <br>
        {{content}}. <button>UPDATE MESSAGE</button><br>
        {{#each Comments as |comment|}}
            {{>comments-details}}
        {{/each}}

        <a href="/comment/newComment">new comment</a>
    </section>
</article>
