<article>
    <section class="card">
        {{title}}. <br>
        {{content}}. <button>UPDATE</button><br>
        {{#each Comments as |comment|}}
            {{>comments-details}}
        {{/each}}

        <a href="/">new comment</a>
    </section>
</article>
