<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <!--    if signed-->
    <nav>
        <a href="/">Home</a>
        {{#if session.loggedIn}}
            <a href="/user/logout">Logout</a>
            <a href="/dashboard/{{session.userId}}">Dashboard</a>
            <span><h4>Uber: {{session.username}}</h4></span>
        {{else}}
            <a href="/user/login">Login</a>
        {{/if}}


    </nav>
</header>



{{{body}}}



<footer>
    This is the footer
</footer>
</html>