<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header>
    <!--    if signed-->
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
            <a href="/user/logout">Logout</a>
        {{else}}
            <a href="/user/login">Login</a>
        {{/if}}
        <a href="/dashboard/2">Dashboard</a>
    </nav>
</header>



{{{body}}}



<footer>
    This is the footer
</footer>
</html>