<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header>
<!--    if signed-->
    <nav>
        <a href="/">Home</a>
        <a href="/">Login</a>
        <a href="/dashboard/1">Dashboard</a>
    </nav>
</header>


{{{body}}}



<footer>
This is the footer
</footer>
</html>