<form action="/message/newMessage" method="get">
    <div class="container-dashboard-title dashboard-header">
        <div class="vred">DASHBOARD</div>
        <div class="btn-new-message vred "><button class="css-button-rounded--grey">NEW MESSAGE</button></div>
    </div>
</form>
{{#each messages as |message|}}
    {{> dashboard-detail}}
{{/each}}
