<html>
<body>
<form action="/user/verify" method="POST">
    username<input type="text" name="username" value="harrisonford"><br>
    password <input type="text" name="password" value="aaa"><br>
    <button>login</button><br>
</form>
<form action="/user/verify" method="POST">
    username<input type="text" name="username" value="carriefisher"><br>
    password <input type="text" name="password" value="aaa"><br>
    <button>login</button><br>
</form>
<form action="/user/verify" method="POST">
    username<input type="text" name="username" value="markhamill"><br>
    password <input type="text" name="password" value="aaa"><br>
    <button>login</button><br>
</form>
    <a href="newUser">new user</a>
</body>
</html>