<section class="card">
    <div class="title-message-container">
        <div class="title">
            login
        </div>
        <div class="btn-update-message">

        </div>
    </div>
    <div class="content-message">


        <form action="/user/verify" method="POST">
            <div class="form-container vred">
                <div class="new-user-container">
                    <div class="col label">username</div>
                    <div class="col input">
                        <input type="text" id="username" name="username" value="harrisonford" size="9">
                    </div>
                </div>
                <div class="new-user-container">
                    <div class="col label">password</div>
                    <div class="col input"><input type="password" id="password" name="password" value="aaa"  size="9"></div>
                </div>

                <div class="new-user-container btn-save vred">
                    <button class="css-button-rounded--brown btn-login">LOG IN</button>
                </div>
            </div>
        </form>
        <div class="link-message"><a href="newUser">New user? SIGN UP!</a></div>
    </div>
</section>

