


{{#if session.loggedIn}}
    <form action="/message/saveComment" method="POST">
        <input type="text" name="content" value="this the content">
        <input type="hidden" name="message_id" value="{{message_id}}">
        <button>save comment</button>
    </form>
{{else}}
    <div class="error">If you want to post, please login first.</div>
{{/if}}
