<html>
<body>
<form action="/message/saveMessage"  method="POST">
    Title<input type="text" name="title" value="this is the title"><br>
    message <input type="text" name="content" value="this is the title"><br>

    <button>save message</button><br>
</form>
</body>
</html>