<html>
<body>
<form action="saveUser"  method="POST">
    username<input type="text"><br>
   first name <input type="text"><br>
    last name<input type="text"><br>
    password <input type="text"><br>
    <button>save user</button><br>
</form>
</body>
</html>