<html>
<body>
<form action="/user/saveUser"  method="POST">
    username<input type="text" name="username" value=""><br>
   first name <input type="text" name="first_name" value=""><br>
    last name<input type="text" name="last_name" value=""><br>
    password <input type="text" name="password" value=""><br>
    <button>save user</button><br>
</form>
</body>
</html>