<form action="/message/updateMessage"  method="POST">
<section class="card">
    <div class="title-message-container">
        <div class="title">
            <input type="text" id="title" name="title" placeholder="" value="{{message.title}}" size="105">
        </div>
        <div class="btn-update-message">
            <input type="button" onclick="checkBlanks()" value="SAVE CHANGES">
        </div>
    </div>
    <div class="content-message">
        <textarea id="content" name="content" placeholder="" rows="5" cols="100">{{message.content}}</textarea>
    </div>

    {{#each Comments as |comment|}}
        {{>comments-details}}
    {{/each}}
    <div class="link-message"></div>
</section>
    <input type="hidden" name="message_id" value="{{message.id}}">
</form>
<script>
    //src="public/scripts/blanksNewMessage.js">
    const titleEl = document.getElementById('title');
    const contentEl = document.getElementById('content');
    let counter = 0;

    function checkBlanks() {

        if (titleEl.value === '' || contentEl.value === '' || contentEl.value === 'Write the content') {
            alert('Verify the title and message. None of them can be blank.');
        } else {
            document.forms[0].submit();
        }
    }

    function checkTextAreaNewMessage() {

        if (counter === 0) {
            contentEl.value = "";
            counter++;
        }
    }
</script>
