<form action="/message/updateMessage"  method="POST">
<section class="card">
    <div class="title-message-container">
        <div class="title">
            <input type="text" id="title" name="title" placeholder="" value="{{message.title}}" size="105">
        </div>
        <div class="btn-update-message">
            <input type="button" class="css-button-rounded--grey" onclick="checkBlanks()" value="SAVE CHANGES">
        </div>
    </div>
    <div class="content-message">
        <textarea id="content" name="content" placeholder="" rows="5" cols="100">{{message.content}}</textarea>
    </div>

    {{#each Comments as |comment|}}
        {{>comments-details}}
    {{/each}}
    <div class="link-message"></div>
</section>
    <input type="hidden" name="message_id" value="{{message.id}}">
</form>
<script src="/public/scripts/blanksNewMessage.js"></script>
