.vred {

    xborder: 1px solid red;
}

body {

    background-color: #D9E9CF;
    font-family: "Tahoma", sans-serif;
}

.card {
    border: 3px solid #222629;
    margin: 10px;
    padding: 0px;
    box-shadow: 3px 3px 8px grey;
    background-color: #D9E9CF;
}

header {

    background-color: #231010;
    color: red;
    margin: 10px;
    padding: 10px;
    box-shadow: 1px 1px 2px gray;
    border-radius: 5px 5px 0 0;

}

@media (min-width: 400px) {
    header {
        font-size: 2vh;
    }
}

.blogName {
    color: #231010;
    box-shadow: 5px 5px 8px grey;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
    background-color: #D9E9CF;
    text-space: nowrap;
    display: inline-block;

}

.title {
    background-color: #231010;
    padding: 10px;
    color: #D9E9CF;
}

@media (min-width: 400px) {
    .title {
        font-size: 1.8vh;
    }
}

.content-message {
    margin: 5px 0 5px 10px;
}

@media (min-width: 400px) {
    .content-message {
        font-size: 1.1vh;
    }
}

.content-comment {
    maxrgin: 0 0 0 10px;
    font-size: 80%;
    font-family: "Garamond", sans-serif;
}

@media (min-width: 400px) {
    .content-comment {
        font-size: 1.8vh;
    }
}

.author {
    margin: 0 0 0 20px;
    font-size: 80%;
    font-weight: bold;

}

@media (min-width: 400px) {
    .author {
        font-size: 1.7vh;
    }
}

nav a:link {
    color: white;
}

nav a:visited {
    color: white;
}

@media (min-width: 400px) {
    a {
        font-size: 2vh;
    }

}

.display-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.container-dashboard-title {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-comment {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 2vh;
}

.session-user {
    height: 15px;
}

.link-message {
    margin: 10px 10px 10px 20px;
    font-size: 90%;
}

.dashboard-header {
    margin: -10px 10px 0 10px;
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
    background-color: gray;
}

.btn-update-message {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.btn-new-message {
    margin-right: 10px;
    margin-top: -10px;
}

.title-message-container {
    display: flex;
    justify-content: space-between;
    background-color: #231010;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.new-user-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.login-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-user-container .col {
    width: 50%;
    margin: 3px;
}

.input {
    text-align: left;

}

.label {
    text-align: right;
}

@media (min-width: 400px) {
    .label {
        font-size: 2vh;
    }
}

.input input {
    border-radius: 3px;
}

@media (min-width: 400px) {
    input {
        font-size: 1.5vh;
    }
}

.btn-save {
    justify-content: center;
    margin: 10px;
}

.form-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.msg {
    padding: 10px;
    margin: 10px;
    color: #D9E9CF;
    border-radius: 3px;
}

.error {
    background-color: #B10000;
    color: white;
}

@media (min-width: 400px) {
    .error {
        font-size: 2vh;
    }
}

.primary {
    background-color: #0062C8;
    color: white;
}

@media (min-width: 400px) {
    .primary {
        font-size: 2vh;
    }
}

footer {
    margin-left: 10px;
    margin-top: 40px;
}

.message-date {
    color: white;
    font-size: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}

.comment-date {
    color: black;
    font-size: 70%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4px;
}

@media (min-width: 400px) {
    .comment-date {
        font-size: 1vh;
        margin: 2px;
    }

}

.text-area-new-comment {
    margin-left: 10px;
    margin-bottom: 10px;
}

.css-button-rounded--brown {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #495057;
    background: #231010;
}

@media (min-width: 400px) {
    .css-button-rounded--brown, .css-button-rounded--grey {
        font-size: 2vh;
    }

}

.css-button-rounded--brown:hover {
    background: #fff;
    color: #495057
}

.css-button-rounded--grey {
    min-width: 130px;
    hexight: 20px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #80807E;
    background: #495057;
}

.css-button-rounded--grey:hover {
    background: #fff;
    color: #495057
}

.btn-login {
    width: 200px;
}

.lbl-login {
    background-color: #80807E;
}

.msg-altern-login {
    margin-left: auto;
    margin-right: auto;
    color: gray;

}

@media (min-width: 400px) {
    .msg-altern-login {
        font-size: 2vh;
    }

}

